.todo {
	width: 100%;

	.todoText {
		font-size: 18px;
		color: #4a4a4a;
		overflow-wrap: anywhere;
		max-height: 100px;
		cursor: pointer;
	}

	.todoCompleted {
		color: #aeaeae;
		text-decoration: line-through;
	}

	.checkIcon {
		color: #1677ffff;
	}

	.closeIcon {
		color: #e10f0fff;
	}
}
